@font-face {
    font-family: Comfortaa;
    src: url(Comfortaa-Regular.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Source;
    src: url(SourceCodePro-Regular.otf) format(opentype);
}
h1 {
    font-family: Comfortaa;
    font-size: 18pt;
}
p {
    font-family: Ubuntu;
    font-size: 14pt;
}
code {
    font-family: Source;
    font-size: 14pt;
}
